:root {
  --border-color-custom: #26223a;
}

#root {
  position: relative;
}

main,
header {
  position: relative;
  z-index: 1;
}

main {
  min-height: calc(100vh - 48px);
}

.polygon {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 0;
}

.size-custom-1 {
  width: 500px;
  height: 500px;
  right: 0;
  bottom: 0;
}

.size-custom-2 {
  width: 40px;
  height: 40px;
}

.size-custom-3 {
  width: 200px;
  height: 200px;
}

.circle {
  position: absolute;
  border: 1px solid var(--border-color-custom);
  border-radius: 50%;
}
